@page "/ResetPassword/{Code?}"
@inject IStringLocalizer<Resource> _localizer;
@inject NavigationManager _navigationManager
@inject IApiWrapper _apiWrapper
@inject IAuthService _authService
@layout LoginLayout

<hr />

<link href="css/logincss.css" rel="stylesheet" />
<div class="container">
    <main role="main" class="pb-3">
        <div class="login-div">
            <div class="login-container">
                <div class="login-content">

                    <h1>@_localizer[LangKey.FORGOT_PASSWORD_TITLE]</h1>

                    @if (_isCodeValid)
                    {

                        @if (ShowErrors)
                        {
                            <div class="alert alert-danger" role="alert" style="word-wrap: break-word">
                                <p>@_localizer[Error]</p>
                            </div>
                        }

                        <EditForm Model="_resetPassword" OnValidSubmit="HandleResetPassword">
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="email">@_localizer[LangKey.PASSWORD]</label>
                                <InputText type="password" Class="form-control" @bind-Value="_resetPassword.Password" />
                                <ValidationMessage For="@(() => _resetPassword.Password)" />
                            </div>
                            <div class="form-group">
                                <label for="email">@_localizer[LangKey.CONFIRM_PASSWORD]</label>
                                <InputText type="password" Class="form-control" @bind-Value="_resetPassword.ConfirmPassword" />
                                <ValidationMessage For="@(() => _resetPassword.ConfirmPassword)" />
                            </div>
                            <button type="submit" class="btn btn-primary">@_localizer[LangKey.RESET_PASSWORD_BUTTON_RESET]</button>
                        </EditForm>
                    }
                    else
                    {
                        <p>
                            @_localizer[LangKey.RESET_PASSWORD_THE_RESET_CODE_IS_NOT_VALID] @_localizer[LangKey.RESET_PASSWORD_YOU_CAN_CLICK_A_LINK] <a href="Login">@_localizer[LangKey.RESET_PASSWORD_BACK_TO_HOME]</a> @_localizer[LangKey.RESET_PASSWORD_TO_BACK_TO_THE_LOGIN_FORM]
                        </p>
                    }
                </div>
            </div>
        </div>
    </main>
</div>

